@using Aiursoft.EmployeeCenter.Services.FileStorage
@model Aiursoft.EmployeeCenter.Models.ContractViewModels.IndexViewModel
@inject StorageService StorageService

<div class="row mb-2 mb-xl-3">
    <div class="col-auto d-none d-sm-block">
        <h3>@Localizer["Contracts"] @(Model.CurrentFolder != null ? $"- {Model.CurrentFolder.Name}" : "")</h3>
    </div>

    <div class="col-auto ms-auto mt-n1">
        @if (Model.FolderId != null)
        {
            <a asp-action="Index" asp-route-id="@Model.CurrentFolder?.ParentFolderId" class="btn btn-secondary">
                <i class="align-middle" data-lucide="arrow-left"></i> @Localizer["Back"]
            </a>
        }
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h5 class="card-title">@Localizer["Contents"]</h5>
        <h6 class="card-subtitle text-muted">@Localizer["A list of folders and contracts in this location."]</h6>
    </div>
    <div class="table-responsive">
        <table class="table table-hover mb-0">
            <thead>
            <tr>
                <th>@Localizer["Name"]</th>
                <th>@Localizer["Status"]</th>
                <th>@Localizer["Created Time"]</th>
                <th class="text-end">@Localizer["Actions"]</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var folder in Model.SubFolders)
            {
                <tr>
                    <td>
                        <a asp-action="Index" asp-route-id="@folder.Id">
                            <i class="align-middle me-2" data-lucide="folder"></i> @folder.Name
                        </a>
                    </td>
                    <td>-</td>
                    <td><label class="text-muted" data-utc-time="@folder.CreateTime.ToHtmlDateTime()"></label></td>
                    <td class="text-end">
                        <a asp-action="Index" asp-route-id="@folder.Id" class="btn btn-sm btn-outline-primary">
                            <i class="align-middle" data-lucide="external-link"></i> @Localizer["Open"]
                        </a>
                    </td>
                </tr>
            }
            @foreach (var item in Model.Contracts)
            {
                <tr>
                    <td>
                        <i class="align-middle me-2" data-lucide="file-text"></i> @item.Name
                    </td>
                    <td>
                        @switch (item.Status)
                        {
                            case ContractStatus.PendingSignature:
                                <span class="badge bg-warning">@Localizer["Pending Signature"]</span>
                                break;
                            case ContractStatus.Active:
                                <span class="badge bg-success">@Localizer["Active"]</span>
                                break;
                            case ContractStatus.Invalid:
                                <span class="badge bg-danger">@Localizer["Invalid"]</span>
                                break;
                        }
                    </td>
                    <td><label class="text-muted" data-utc-time="@item.CreateTime.ToHtmlDateTime()"></label></td>
                    <td class="text-end">
                        <a asp-action="Preview" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary" title="@Localizer["Preview"]">
                            <i class="align-middle" data-lucide="eye"></i> @Localizer["Preview"]
                        </a>
                        <a href="@StorageService.RelativePathToInternetUrl(item.FilePath, isVault: true)" class="btn btn-sm btn-outline-info" target="_blank">
                            <i class="align-middle" data-lucide="download"></i> @Localizer["Download"]
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
